/*
html {
    scroll-behavior: smooth;
}
*/
* {
    scroll-margin-top: 5dvh; /*Centers it when getting there from another url via # */
}

/* Content in main */
.article {
    cursor: pointer;
    transition: 0.3s;
}
.article:hover {
    border: var(--darkest-bg-color) solid 2px;
}
@media (width <= 30rem) {
    .article .main_article_text {
        display: none;
    }
}
.type_text {
    width: fit-content;
    background-color: var(--highlight-color);
    font-size: 1.8rem;
    padding: 0.2rem;
    margin-left: 0.4rem;
    margin-right: 0.6rem;
    position: absolute;
    top: 1.6rem;
    right: 1rem;
}
.no_img .type_text { /* In the case that there is no image */
    position: static;
    float: right;
}
@media (width < 30rem) {
    .type_text {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        position: static;
        top: 0;
        right: 0;
        padding: 0;
        margin-bottom: 0.2rem;
    }
}
.no_img img {
    display: none;
}
.author_text {
    text-align: end;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Text styling*/
main h1 {
    display: none;
}