/*
html {
    scroll-behavior: smooth;
}
*/
* {
    scroll-margin-top: 5dvh; /*Centers it when getting there from another url via # */
}

/* Main */
main { /* since there is no h1 top text to hold the main up*/
    padding-top: 3rem;
}

/* Content in main */
.article {
    cursor: pointer;
    transition: 0.3s;
}
.article:hover {
    border: var(--darkest-bg-color) solid 2px;
}
@media (width <= 30rem) {
    .article .main_article_text {
        display: none;
    }
}
.type_text {
    width: fit-content;
    background-color: var(--highlight-color);
    font-size: 1.6rem;
    padding: 0.2rem;
    margin-left: 0.4rem;
    margin-right: 0.6rem;
    position: absolute;
    top: 1.6rem;
    right: 1rem;
}
.no_img .type_text { /* In the case that there is no image */
    position: static;
    float: right;
}
@media (width < 30rem) {
    .type_text {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        position: static;
        top: 0;
        right: 0;
        padding: 0;
    }
}
.no_img img {
    display: none;
}
.author_text {
    text-align: end;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Im feeling lucky button */
#im_feeling_lucky {
    position: absolute;
    width: 30rem;
    top: 4.4rem;
    left: calc(50vw - 15rem);
    text-align: center;
    background-color: transparent;
    border: none;
    color: var(--darkest-bg-color);
    text-decoration: none;
    transition: color 0.3s;
}
@media (width < 45rem) {
    #im_feeling_lucky {
        width: 100%;
        left: 0;
    }
}
#im_feeling_lucky:hover {
    color: var(--secondary-color);
}
#im_feeling_lucky p {
    font-size: 1rem;
}


/* Up button */
#go_up {
    background-color: transparent;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    cursor: pointer;
    text-align: center;
    border: var(--darker-bg-color) solid 2px;
    padding: 1rem;
    padding-top: 0.7rem;
    color: var(--secondary-color);
    text-decoration: none;
    transition: border 0.3s, color 0.3s, opacity 0.3s, visibility 0.3s;

    /*Starting as this, changed later by JS. Therefor the #go_up.show class*/
    opacity: 0%;
    pointer-events: none;
    visibility: hidden;
}
#go_up:hover {
    border: var(--darkest-bg-color) solid 2px;
    color: var(--primary-color);
}
@media (width < 55rem) {
    #go_up {
        display: none; /*Main width is 100%*/
    }
}
#go_up.show {
    opacity: 100%;
    pointer-events: auto;
    visibility: visible;
}
#go_up p {
    font-size: 2rem;
    font-weight: 700;
}

main h1 {
    display: none;
}