/* Content in main */
.type_text {
    width: fit-content;
    background-color: var(--highlight-color);
    font-size: 1.6rem;
    padding: 0.2rem;
    margin-left: 0.4rem;
    margin-right: 0.6rem;
    position: absolute;
    top: 1.6rem;
    right: 1rem;
}
.no_img .type_text { /* In the case that there is no image */
    position: static;
    float: right;
}
@media (width < 30rem) {
    .type_text {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        position: static;
        top: 0;
        right: 0;
        padding: 0;
    }
}
.no_img img {
    display: none;
}
.author_text {
    width: 100%;
    color: var(--text-color);
    margin-top: 0.4rem;
    text-align: end;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.author_text a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}
.author_text a:hover {
    color: var(--primary-color);
}

/* Upplaga number and date */
#upplaga_and_date {
    width: 72rem;
    height: 1rem;
    z-index: 1;
    width: calc(100%);
    position: static; 
    margin-bottom: 1rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
}
@media (80rem <= width <= 120rem) {
    #upplaga_and_date {
        width: 47rem;
    }
}
@media (45rem <= width < 80rem) {
    #upplaga_and_date {
        width: 37rem;
    }
}
@media (width < 45rem) {
    #upplaga_and_date {
        transform: translateX(0rem); /*Main width is 100%*//* It is made static so that*/
        text-align: right;
        height: fit-content;
    }
}
#upplaga_and_date p {
    color: var(--lighter-text-color);
    transition: color 0.3s;
}
#upplaga_and_date a {
    text-decoration: none;
}
#upplaga_and_date a:hover p {
    color: var(--secondary-color);
}

/* Action button */
#right_column_items {
    width: 4.5rem;
    position: absolute;
    right: calc(50%);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transform: translateX(calc((72rem / -2) - 2rem)); /*width = 72rem*/

}
@media (80rem <= width <= 120rem) { 
    #right_column_items {
        transform: translateX(calc((47rem / -2) - 2rem)); /*width = 47rem*/
    }
}
@media (52rem <= width < 80rem) {
    #right_column_items {
        transform: translateX(calc((37rem / -2) - 2rem)); /*width = 37rem*/
    }
}
@media (width < 52rem) {
    #right_column_items {
        transform: translateX(0); /*width = 37rem*/
        position: static;
        width: 100%;
        flex-direction: row;
        margin-bottom: 1rem;
    }
}
.action_button {
    background-color: var(--bg-color);
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: var(--darker-bg-color) solid 2px;
    padding: 1rem;
    color: var(--secondary-color);
    transition: border 0.3s, color 0.3s;
}
@media (width < 20rem) {
    .action_button {
        padding: 0.5rem;
    }
}
.action_button:hover {
    border: var(--darkest-bg-color) solid 2px;
    color: var(--primary-color);
}
/* Star button */
.action_button#star {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.action_button #star_empty {
    grid-row: 1;
    grid-column: 1;
}
.action_button #star_filled {
    transition: opacity 0.3s;
    grid-row: 1;
    grid-column: 1;
    opacity: 0%;
    z-index: 1; /* So it is above the other one */
}

/* Extra info */
.extra_info {
    top: 6.4rem;
}

/* Recomended articles */
h3 {
    font-size: 2.2rem;
    margin: 2rem 0;
    text-align: center;
}

#read_also .article {
    cursor: pointer;
    transition: 0.3s;
}
#read_also .article:hover {
    border: var(--darkest-bg-color) solid 2px;
}
#read_also .article.highlight {
    border: var(--secondary-color) solid 2px;
}
#read_also .article.highlight:hover {
    border: var(--primary-color) solid 2px;
}

/* Star */
.stared_article_icon {
    color: var(--secondary-color);
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(3deg) translate(-2.2rem, 2.2rem);
    transition: color 0.3s;
    user-select: none;
    pointer-events: none;

    display: none;
}
.article:hover .stared_article_icon {
    color: var(--primary-color);
}