/* Content in main */
.type_text {
    width: fit-content;
    background-color: var(--highlight-color);
    font-size: 1.6rem;
    padding: 0.2rem;
    margin-left: 0.4rem;
    margin-right: 0.6rem;
    position: absolute;
    top: 1.6rem;
    right: 1rem;
}
.no_img .type_text { /* In the case that there is no image */
    position: static;
    float: right;
}
@media (width < 30rem) {
    .type_text {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        position: static;
        top: 0;
        right: 0;
        padding: 0;
    }
}
.no_img img {
    display: none;
}
.author_text {
    width: 100%;
    color: var(--text-color);
    margin-top: 0.4rem;
    text-align: end;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.author_text a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}
.author_text a:hover {
    color: var(--primary-color);
}

/* Upplaga number and date */
#upplaga_and_date {
    width: 72rem;
    height: 1rem;
    z-index: 1;
    width: calc(100%);
    position: static; 
    margin-bottom: 1rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
}
@media (80rem <= width <= 120rem) {
    #upplaga_and_date {
        width: 47rem;
    }
}
@media (45rem <= width < 80rem) {
    #upplaga_and_date {
        width: 37rem;
    }
}
@media (width < 45rem) {
    #upplaga_and_date {
        transform: translateX(0rem); /*Main width is 100%*//* It is made static so that*/
        text-align: right;
        height: fit-content;
    }
}
#upplaga_and_date p {
    color: var(--lighter-text-color);
    transition: color 0.3s;
}
#upplaga_and_date a {
    text-decoration: none;
}
#upplaga_and_date a:hover p {
    color: var(--secondary-color);
}

/* Action button */
.action_button {
    box-sizing: border-box;
    width: 4.5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    right: calc(50%);
    transform: translateX(calc((72rem / -2) - 2rem)); /*width = 72rem*/
    border: var(--darker-bg-color) solid 2px;
    padding: 1rem;
    color: var(--secondary-color);
    transition: border 0.3s, color 0.3s;
}
.action_button:hover {
    border: var(--darkest-bg-color) solid 2px;
    color: var(--primary-color);
}
@media (80rem <= width <= 120rem) { 
    .action_button {
        transform: translateX(calc((47rem / -2) - 2rem)); /*width = 47rem*/
    }
}
@media (45rem <= width < 80rem) {
    .action_button {
        transform: translateX(calc((37rem / -2) - 2rem)); /*width = 37rem*/
    }
}

/* Back button */
a#return {
    position: absolute;
    top: 6.4rem;
}
@media (width < 52rem) {
    a#return {
        display: none; /*Main width is 100%*/
    }
}


/* Share button */
#share {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: calc(10.4rem + 1.5rem);
}
@media (width < 52rem) {
    #share {
        transform: translateX(0); /*Main width is 100%*/
        position: static;
        width: 100%;
        margin-bottom: 1rem;
    }
}

/* Extra info */
.extra_info {
    top: 6.4rem;
}

/* Recomended articles */
h3 {
    font-size: 2.2rem;
    margin: 2rem 0;
    text-align: center;
}

#read_also .article {
    cursor: pointer;
    transition: 0.3s;
}
#read_also .article:hover {
    border: var(--darkest-bg-color) solid 2px;
}