/*
html {
    scroll-behavior: smooth;
}
*/
* {
    scroll-margin-top: calc(5dvh + 3.4rem); /*Centers it when getting there from another url via # */
}

/* Main */
main { /* since there is no h1 top text to hold the main up*/
    padding-top: 3rem;
}

/* Content in main */
.article {
    cursor: pointer;
    transition: 0.3s;
}
.article:hover {
    border: var(--darkest-bg-color) solid 2px;
}
@media (width <= 30rem) {
    .article .main_article_text {
        display: none;
    }
}
.article.highlight {
    border: var(--secondary-color) solid 2px;
}
.article.highlight:hover {
    border: var(--primary-color) solid 2px;
}
.type_text {
    width: fit-content;
    background-color: var(--highlight-color);
    font-size: 1.6rem;
    padding: 0.2rem;
    margin-left: 0.4rem;
    margin-right: 0.6rem;
    position: absolute;
    top: 1.6rem;
    right: 1rem;
}
.no_img .type_text { /* In the case that there is no image */
    position: static;
    float: right;
}
@media (width < 30rem) {
    .type_text {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        position: static;
        top: 0;
        right: 0;
        padding: 0;
    }
}
.no_img img {
    display: none;
}
.author_text {
    text-align: end;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Im feeling lucky button */
#im_feeling_lucky {
    position: absolute;
    width: 15rem;
    top: 4.4rem;
    left: calc(50vw - 7.5rem);
    text-align: center;
    background-color: transparent;
    border: none;
    color: var(--lighter-text-color);
    text-decoration: none;
    transition: color 0.3s;
}
@media (width < 45rem) {
    #im_feeling_lucky {
        width: 100%;
        left: 0;
    }
}
#im_feeling_lucky:hover {
    color: var(--secondary-color);
}
#im_feeling_lucky p {
    font-size: 1rem;
}

/* Action button */
#right_column_items {
    width: 4.5rem;
    position: absolute;
    right: calc(50%);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transform: translateX(calc((72rem / -2) - 2rem)); /*width = 72rem*/

}
@media (80rem <= width <= 120rem) { 
    #right_column_items {
        transform: translateX(calc((47rem / -2) - 2rem)); /*width = 47rem*/
    }
}
@media (52rem <= width < 80rem) {
    #right_column_items {
        transform: translateX(calc((37rem / -2) - 2rem)); /*width = 37rem*/
    }
}
@media (width < 52rem) {
    #right_column_items {
        transform: translateX(0); /*width = 37rem*/
        position: static;
        width: 100%;
        flex-direction: row;
        margin-bottom: 1rem;
    }
}
.action_button {
    background-color: var(--bg-color);
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: var(--darker-bg-color) solid 2px;
    padding: 1rem;
    color: var(--secondary-color);
    transition: border 0.3s, color 0.3s;
}
@media (width < 20rem) {
    .action_button {
        padding: 0.5rem;
    }
}
.action_button:hover {
    border: var(--darkest-bg-color) solid 2px;
    color: var(--primary-color);
}
/* Star button */
.action_button#star {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    display: none;
}
.action_button #star_empty {
    grid-row: 1;
    grid-column: 1;
}
.action_button #star_filled {
    transition: opacity 0.3s;
    grid-row: 1;
    grid-column: 1;
    opacity: 0%;
    z-index: 1; /* So it is above the other one */
}

/* Text styling */
main h1 {
    display: none;
}