/*PDF*/
#main_pdf {
    width: 100%;
    min-height: 35rem;
    height: 75vh;
    max-height: 100rem;
    border: none;
}
#pdf_nav_UI {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: start;
}
@media (width <= 50rem) {
    #pdf_nav_UI {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}
#pdf_upplaga_number {
    text-align: center;
    margin: 1.5rem 0;
    font-family: monospace;
}
.pdf_nav_buttons {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-size: 1.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    opacity: 0.7;
}
.pdf_nav_buttons:hover {
    opacity: 1;
    text-decoration: underline;
}

/*Image rendered PDF*/
.pdf_page {
    width: 100%;
}

/*Text styling*/
#pdf_loading_text {
    width: 100%;
    text-align: center;
    margin: 5rem 0;
    display: none;
}
.main_content_footnote {
    font-size: 1rem;
    margin-top: 0.3rem;
    text-align: center;
}