/* Base */
:root {
    --bg-color: #fbf6f3; /*for the background*/
    --dark-bg-color: #f3efec; /*for things with a clearly differant background than --bg-color*/
    --darker-bg-color: #ece8e4; /*for outline before hover*/
    --darkest-bg-color: #d3cecc; /*for outlines and for hover outline*/
    --text-color: #130c09; /*for text*/
    --lighter-text-color: #aba29e; /*for less inportant text*/
    --lightest-text-color: #f8f4f2;
    --primary-color: #EE7322; /*for header and hover*/
    --secondary-color: #da8852; /*for orange color before hover*/
    --highlight-color: yellow; /*for the article type*/
}
* {
    margin: 0;
}
body {
    background-color: var(--bg-color);
    background-image: linear-gradient(to bottom right, var(--bg-color), var(--dark-bg-color));
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text-color);
    overflow-wrap: anywhere;
}

/* Hide scrollbar */
/*
::-webkit-scrollbar {
    display: none;
}
*/

/* Scrollbar */
html {
    scrollbar-color: var(--secondary-color) var(--darker-bg-color); /* Thumb color and color of background */
    scrollbar-width: auto; /* Can also be "thin" or "none" */
}

/* Header */
header {
    /*background-color: var(--primary-color);*/
    /*background-color: color-mix(in srgb, var(--primary-color) 90%, transparent);*/
    background-image: linear-gradient(to bottom, var(--primary-color), color-mix(in srgb, var(--primary-color) 80%, transparent));
    backdrop-filter: blur(5px);
    position: sticky;
    z-index: 10;
    width: 100%;
    height: 3.4rem;
    top: 0;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s;
}
@media (width <= 22rem) {
    header {
        justify-content: space-around;
    }
}
.header_hidden {
    transform: translateY(-105%);
}
.header_during_scroll {
    position: static;
}
header p {
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--lightest-text-color);
    cursor: default;
    width: 33%;
    text-align: center;
}
@media (56rem < width <= 60rem) {
    header p {
        font-size: 1.1rem;
    }
}
@media (52rem < width <= 56rem) {
    header p {
        font-size: 1.0rem;
    }
}
@media (width <= 52rem) {
    header p {
        font-size: 0.9rem;
    }
}
@media (width <= 50rem) {
    header p {
        display: none;
    }
}
header .loken_image {
    cursor: pointer;
    width: 12rem;
    padding: 0.4rem;
}
@media (14rem < width <= 18rem) {
    header .loken_image {
        width: calc(100% - 2rem);
    }
}
@media (width <= 14rem) {
    header .loken_image {
        display: none;
    }
}
/*Header holidays*/
.header_pride {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple);
}

/* Header action buttons */
.header_action {
    box-sizing: border-box;
    background-color: transparent;
    color: var(--lightest-text-color);
    width: 3.1rem;
    height: 3.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: default;
    margin: 0 1rem;
}

/* Search */
header #search {
    cursor: pointer;
}
@media (width <= 22rem) {
    header #search {
        display: none;
    }
}

/* Dropdown */
#dropdown {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}
#dotdotdot {
    display: flex;
    justify-content: center;
    align-items: center;
}
#dropdown_transition_item {
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0.5rem;
    width: 4.1rem;
    height: 4rem;
}
#dropdown_button_container {
    background-color: var(--dark-bg-color);
    border: var(--darkest-bg-color) solid 2px;
    position: fixed;
    top: 4rem;
    right: 0.6rem;
    padding: 1rem;
    min-width: 5rem;
    direction: rtl;
    flex-direction: column;
    
    display: none;
}
#dropdown:hover #dropdown_button_container, #dropdown_button_container:hover {
    display: flex;
}
#dropdown:focus #dropdown_button_container {
    display: flex;
}
@media (height < 30rem) {
    #dropdown_button_container {
        overflow-y: scroll;
        width: calc(100% - 3rem);
        height: calc(100vh - 6.5rem);
        grid-template-rows: repeat(auto, minmax(0, 1fr));
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-items: center;
        align-items: center;
        font-size: 4.5vw;
        text-align: center;
        overflow: hidden;
    }
    #dropdown:hover #dropdown_button_container, #dropdown_button_container:hover {
        display: grid;
    }
    #dropdown:focus #dropdown_button_container {
        display: grid;
    }
}
.dropdown_button {
    padding: 0.5rem;
    color: var(--text-color);
    text-decoration: none;
    text-align: start;
    border-right: transparent solid 2px;
    transition: border 0.3s;
}
@media (height < 26rem) {
    .dropdown_button {
        width: fit-content;
    }
}
.dropdown_button:hover {
    border-right: var(--primary-color) solid 2px;
}
@media (height < 30rem) {
    .header_button {
        font-size: 1.4rem;
    }
}

/* Main */
main {
    margin: 0 auto 0 auto;
    padding: 3rem;
    padding-top: 0.7rem;
    width: calc(80rem - 8rem);
    min-height: calc(100vh - 3.4rem - 4rem);
    height: fit-content;
    /*
    border-left: var(--darker-bg-color) solid 2px;
    border-right: var(--darker-bg-color) solid 2px;
    */
}
@media (80rem <= width <= 120rem) {
    main {
        width: calc(55rem - 8rem);
    }
}
@media (45rem <= width < 80rem) {
    main {
        width: calc(45rem - 8rem);
    }
}
@media (width < 45rem) {
    main {
        width: calc(100% - 4rem);
        padding: 2rem;
        padding-top: 0.7rem;
    }
}

main img {
    width: 100%;
    max-height: 22rem;
    object-fit: cover;
    aspect-ratio: attr(width) / attr(height); /*To make sure frame exists*/
}
@media (width > 120rem) {
    main img {
        max-height: 38rem;
    }
}
@media (width < 35rem) {
    main img {
        max-height: 12rem;
    }
}

/* Text styling */
h1.top_text {
    width: 100%;
    min-height: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}
main .article h1 { /* Same as h2 in but for articles */
    font-size: 2.2rem;
}
@media (width < 35rem) {
    main .article h1 {
        font-size: 1.8rem;
    }
}
main h2 {
    font-size: 2.2rem;
}
@media (width < 35rem) {
    main h2 {
        font-size: 1.8rem;
    }
}
main p {
    font-size: 1.2rem;
}
main li {
    font-size: 1.2rem;
}
.redacted_text {
    background-color: black;
    color: black;
}

/* Content in main */
.article {
    background-color: var(--bg-color);
    position: relative;
    padding: 1rem;
    display: block;
    margin-bottom: 2.5rem;
    color: var(--text-color);
    text-decoration: none;
    border: var(--darker-bg-color) solid 2px;
    transition: 0.3s;
}
.article:not(:has(~ .article)) { /* Gör så bara sista .article har margin-bottom = 0 */
    margin-bottom: 0;
}

.extra_info {
    background-color: var(--dark-bg-color);
    border: var(--secondary-color) solid 2px;
    width: 12.5rem;
    position: absolute;
    top: 7.9rem;
    left: 50%;
    transform: translateX(calc((72rem / 2) + 2rem)); /*width = 72rem*/
    transition: none;
    text-align: center;
}
@media (83rem <= width <= 120rem) { 
    .extra_info {
        transform: translateX(calc((47rem / 2) + 2rem)); /*width = 47rem*/
    }
}
@media (width < 83rem) {
    .extra_info {
        position: static;
        transform: translateX(0);
        width: calc(100% - 2rem);
    }
}
.extra_info.attention {
    box-shadow: var(--highlight-color) 0 0 0.5rem;
    margin-bottom: 1rem;
}
a.extra_info.user_prompt {
    transition: 0.3s;
}
a.extra_info.user_prompt:hover {
    background-color: var(--darker-bg-color);
    border: var(--primary-color) solid 2px;
    transform: translate(calc((72rem / 2) + 2rem - 0.2rem), -0.2rem); /*width = 72rem*/
    box-shadow: var(--darkest-bg-color) 0.2rem 0.2rem 0.8rem;
}
@media (83rem <= width <= 120rem) { 
    a.extra_info.user_prompt:hover {
        transform: translate(calc((47rem / 2) + 2rem - 0.2rem), -0.2rem); /*width = 47rem*/
    }
}
@media (width < 83rem) {
    a.extra_info.user_prompt:hover {
        transform: translate(-0.2rem, -0.2rem);
    }
}
.clickable_element {
    border: var(--darker-bg-color) solid 2px;
}
.clickable_element:hover {
    background-color: var(--darker-bg-color);
    border: var(--darkest-bg-color) solid 2px;
    transform: translate(-0.2rem, -0.2rem);
    box-shadow: var(--darkest-bg-color) 0.2rem 0.2rem 0.8rem;
}
.clickable_element.highlight {
    background-color: var(--dark-bg-color);
    border: var(--secondary-color) solid 2px;
}
.clickable_element.highlight:hover {
    background-color: var(--darker-bg-color);
    border: var(--primary-color) solid 2px;
    transform: translate(-0.2rem, -0.2rem);
    box-shadow: var(--darkest-bg-color) 0.2rem 0.2rem 0.8rem;
}

/* Up button */
#go_up {
    background-color: var(--bg-color);
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    z-index: 2;
    cursor: pointer;
    border: var(--darker-bg-color) solid 2px;
    padding: 1rem;
    color: var(--secondary-color);
    transition: border 0.3s, color 0.3s, opacity 0.3s, visibility 0.3s;

    /*Starting as this, changed later by JS. Therefor the #go_up.show class*/
    opacity: 0%;
    pointer-events: none;
    visibility: hidden;
}
#go_up:hover {
    border: var(--darkest-bg-color) solid 2px;
    color: var(--primary-color);
}
@media (width < 55rem) {/*Main width is 100%*/
    #go_up {
        right: 1rem;
    }
}
@media (width < 45rem) {/*Main width is 100%*/
    #go_up {
        bottom: 1rem;
    }
}
#go_up.show {
    opacity: 100%;
    pointer-events: auto;
    visibility: visible;
}

/* Popup screen */
.popup {
    background-color: var(--primary-color);
    color: var(--lightest-text-color);
    box-sizing: border-box;
    width: 60%;
    height: 80%;
    position: fixed;
    top: 10%;
    left: 20%;
    padding: 2rem;
    text-align: center;
}
@media (width < 70rem) {
    .popup {
        width: 80%;
        height: 90%;
        top: 5%;
        left: 10%;
    }
}
.popup::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    overscroll-behavior: contain;
}
.popup:focus-visible {
    outline: none;
}
.popup .loken_image {
    width: 50%;
    margin-bottom: 1rem;
}
.popup h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.popup_button {
    color: var(--lightest-text-color);
    display: block;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--darker-bg-color) solid 2px;
    transition: 0.3s;
}
#popup_buy_button {
    background-color: rgb(12, 208, 12);
    width: 28rem;
    height: 6rem;
    margin: 2rem auto 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
}
#popup_deny_button {
    background-color: rgb(227, 14, 14);
    width: 12rem;
    height: 2rem;
    margin: 1.5rem auto 0 auto;
}

/* Footer */
footer {
    background-color: var(--dark-bg-color);
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    border-top: var(--darkest-bg-color) solid 2px;
    padding: 2rem;
    position: relative; /* So z-index works */
    z-index: 9;
}
footer #nav_cards_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}
@media (width < 35rem) {
    footer #nav_cards_container {
        grid-template-columns: 1fr;
    }
}
#footer_lower {
    display: flex;
    justify-content: space-between;
}
@media (width < 35rem) {
    #footer_lower {
        flex-direction: column;
    }
}
#footer_left_section {
    width: 40%;
    max-width: 30rem;
    margin-bottom: 1.5rem;
}
@media (width < 35rem) {
    #footer_left_section {
        width: 100%;
        margin-bottom: 0;
    }
}
footer #loken_image {
    width: 100%;
}
#footer_left_section .footer_text {
    margin-top: 1.5rem;
}
#footer_right_section {
    width: 60%;
    text-align: right;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 15rem);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 1.5rem;
    direction: rtl;
}
@media (width < 35rem) {
    #footer_right_section {
        width: 100%;
        text-align: left;
        display: block;
        margin-left: 0;
    }
}
#footer_right_section .footer_text {
    width: 15rem;
    direction: ltr;
}
@media (width < 35rem) {
    #footer_right_section .footer_text {
        width: 100%;
        margin-top: 1.5rem;
    }
}
@media (width < 15rem) {
    .footer_text {
        width: 100%;
    }
}
.footer_text a {
    display: block;
    overflow-wrap: normal;
    white-space: normal;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}
.footer_text a:hover {
    color: var(--primary-color);
}
footer .article {
    margin-bottom: 0;
}

/* Animation stopper */
.resize_animation_stopper * {
  transition: none !important;
  animation: none !important;
}