<!--@( webb/ostraloken.se/webbsite/notiser/index.html )@-->
<!DOCTYPE html>
<html lang="sv">
<head>
    [+head_data+]
    
    <meta name="description" content="Alla Östra Löken notiser sammanställda!">
    <meta property="og:description" content="Alla Östra Löken notiser sammanställda!">
    <meta property="og:url" content="https://ostraloken.se/notiser/">
    <meta property="og:title" content="Notiser | Östra Löken">
    <title>Notiser | Östra Löken</title>
    <link rel="canonical" href="https://ostraloken.se/notiser/">

    <link rel="stylesheet" href="../universal.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon" href="../images/meta/lök_bild_cirkel_48.ico">
</head>
<body>
    <div> <!--This div is to make the header not go into the footer-->
        [+header+]

        <main>
            <h1 class="top_text">Notiser</h1>

            [+go_up+]

            <div id="notiser_container">
                [+all_short_storys+]
            </div>

        </main>
    </div>

    [+footer+]

    [+general_scripts+]
    <script src="../js/scroll_to_top.js"></script>
</body>
</html>