<!--@( webb/ostraloken.se/webbsite/sok/index.html )@-->
<!DOCTYPE html>
<html lang="sv">
<head>
    [+head_data+]
    
    <meta name="description" content="Utforska vad Östra Lökens arkiv har att erbjuda!">
    <meta property="og:description" content="Utforska vad Östra Lökens arkiv har att erbjuda!">
    <meta property="og:url" content="https://ostraloken.se/sok/">
    <meta property="og:title" content="Sök | Östra Löken">
    <title>Sök | Östra Löken</title>
    <link rel="canonical" href="https://ostraloken.se/sok/">
    
    <link rel="stylesheet" href="../universal.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon" href="../images/meta/lök_bild_cirkel_48.ico">
</head>
<body>
    <div> <!--This div is to make the header not go into the footer-->
        [+header+]
        
        <main>
            <h1 class="top_text">Utforska Lökens arkiv!</h1>

            [+go_up+]

            <input id="search_bar" type="text" placeholder="Sök i arkivet..." autofocus>

            <div id="feed">
                [+all_articles+]
                [+all_short_storys+]
                [+all_hear_me_outs+]
            </div>
            <p class="text_when_empty" id="empty_text"><b>Ingenting här...</b></p>
            <p class="text_when_empty" id="loading_text"><b>Laddar...</b></p>
        </main>
    </div>

    [+footer+]

    [+general_scripts+]
    <script src="../js/scroll_to_top.js"></script>
    <script src="./js/search.js"></script>
</body>
</html>