<footer id="footer">
        <div class="footer_container" style="display: flex; justify-content: start;">
            <div class="footer_text" style="text-align: left;">
                <p>Östra Lökens Policy:</p>
                <a href="https://ostraloken.se/om_oss/#Östra_Lökens_policy">
                    [+Östra_Lökens_policy+]
                </a>
            </div>
        </div>
        <div class="footer_container" style="display: flex; justify-content: center;">
            <div class="footer_text" style="text-align: center;">
                <p>Östra Löken produceras av:</p>
                
                [+people_involved+]
            </div>
        </div>
        <div class="footer_container" style="display: flex; justify-content: end;">
            <div class="footer_text" style="text-align: right;">
                <p>Juridiskt:</p>
                <a href="https://ostraloken.se/om_oss/#Juridiskt">
                    [+Juridiskt+]
                </a>
            </div>
        </div>
    </footer>