<!-- Footer: -->
<footer id="footer">
    <div id="nav_cards_container">
        [+no_img_nav_highlight_cards+]
    </div>

    <div id="footer_left_section">
        <a href="../"><img id="loken_image" alt="Östra Löken logo" src="https://ostraloken.se/images/logo/östra_löken_i_östra_format_2_osynlig_bg.webp"></a>
        
        <div class="footer_text">
            [+Kort_om_Löken_article+]
        </div>

        <div class="footer_text">
            <p>Östra Lökens webbsida gjordes av Vilhelm Grill.</p>
        </div>
    </div>

    <div id="footer_right_section">
        <div class="footer_text">
            <h4>Juridiskt:</h4>
            [+Juridiskt_article+]
        </div>
        <div class="footer_text">
            <h4>Östra Lökens Policy:</h4>
            [+Östra_Lökens_policy_article+]
        </div>
        <div class="footer_text">
            <h4>Östra Löken drivs av:</h4>
            [+staff_link_list+]
        </div>
    </div>
</footer>