<!--@( \ostraloken\ostraloken.se copy\webbpage\kontaktinfo\index.html )@-->
<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kontakta alla oss på Östra Lökens redaktion!">
    <meta property="og:description" content="Kontakta alla oss på Östra Lökens redaktion!">
    <meta property="og:image" content="https://ostraloken.se/images/meta/Östra_Löken_webbsida_cover_image.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ostraloken.se/kontakt/">
    <meta property="og:title" content="Kontaktinfo | Östra Löken">
    <title>Kontaktinfo | Östra Löken</title>

    <link rel="stylesheet" href="../universal.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon" href="../images/meta/lök_bild_cirkel_48.ico">
</head>
<body>
    [+header+]

    <main>
        <h1 class="top_text">Kontaktinfo</h1>

        <a class="article clickable_element kontakt_card highlight" href="mailto:kontakt@ostraloken.se">
            <img src="./images/email_icon.svg" alt="email icon">
            <h2>Redaktionen: kontakt@ostraloken.se</h2>
        </a>

        [+staff_email_buttons+]

    </main>

    [+footer+]
    
    <script src="../js/dont_animate_when_rezising.js"></script>
    <script src="../js/set_date.js"></script>
</body>
</html>