/* Content in main */
.type_text {
    width: fit-content;
    background-color: var(--highlight-color);
    font-size: 1.8rem;
    padding: 0.2rem;
    margin-left: 0.4rem;
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
}
.no_img .type_text { /* In the case that there is no image */
    position: static;
    float: right;
}
@media (width < 30rem) {
    .no_img .type_text { /* In the case that there is no image */
        width: 100%;
        text-align: center;
    }
}
.author_text {
    text-align: end;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Back button */
a#return {
    position: absolute;
    top: 6.4rem;
    width: fit-content;
    left: 50%;
    right: 50%;
    transform: translateX(-44rem); /*Main width default is 80 rem, we want 4 extra rem*/
    border: var(--darker-bg-color) solid 2px;
    padding: 1rem;
    color: var(--secondary-color);
    text-decoration: none;
    transition: border color 0.3s;
}
a#return:hover {
    border: var(--darkest-bg-color) solid 2px;
    color: var(--primary-color);
}
@media (80rem <= width <= 120rem) { 
    a#return {
        transform: translateX(-31.5rem); /*Main width is 55rem*/
    }
}
@media (45rem <= width < 80rem) {
    a#return {
        transform: translateX(-26.5rem); /*Main width is 45rem*/
    }
}
@media (width < 55rem) {
    a#return {
        display: none; /*Main width is 100%*/
    }
}
a#return p {
    font-size: 2rem;
    font-weight: 700;
}