/* Content in main */
.type_text {
    width: fit-content;
    background-color: var(--highlight-color);
    font-size: 1.6rem;
    padding: 0.2rem;
    margin-left: 0.4rem;
    margin-right: 0.6rem;
    position: absolute;
    top: 1.6rem;
    right: 1rem;
}
.no_img .type_text { /* In the case that there is no image */
    position: static;
    float: right;
}
@media (width < 30rem) {
    .type_text {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        position: static;
        top: 0;
        right: 0;
        padding: 0;
    }
}
.no_img img {
    display: none;
}
.author_text {
    text-align: end;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Back button */
a#return {
    position: absolute;
    top: 6.4rem;
    width: fit-content;
    left: 50%;
    right: 50%;
    transform: translateX(-44rem); /*Main width default is 80 rem, we want 4 extra rem*/
    border: var(--darker-bg-color) solid 2px;
    padding: 1rem;
    color: var(--secondary-color);
    text-decoration: none;
    transition: border 0.3s, color 0.3s;
}
a#return:hover {
    border: var(--darkest-bg-color) solid 2px;
    color: var(--primary-color);
}
@media (80rem <= width <= 120rem) { 
    a#return {
        transform: translateX(-31.5rem); /*Main width is 55rem*/
    }
}
@media (45rem <= width < 80rem) {
    a#return {
        transform: translateX(-26.5rem); /*Main width is 45rem*/
    }
}
@media (width < 55rem) {
    a#return {
        display: none; /*Main width is 100%*/
    }
}
a#return p {
    font-size: 2rem;
    font-weight: 700;
}

/* Upplaga number and date */
#upplaga_and_date {
    width: 72rem;
    z-index: 1;
    color: var(--darkest-bg-color);
    position: absolute;
    top: -1.8rem;
    top: 4.4rem;
    left: 50%;
    right: 50%;
    transform: translateX(-36rem); /*Main width default is 72 + 8 rem*/
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
}
@media (80rem <= width <= 120rem) {
    #upplaga_and_date {
        width: 47rem;
        transform: translateX(-23.5rem); /*Main width is 47 + 8 rem*/
    }
}
@media (45rem <= width < 80rem) {
    #upplaga_and_date {
        width: 37rem;
        transform: translateX(-18.5rem); /*Main width is 37 + 8 rem*/
    }
}
@media (width < 45rem) {
    #upplaga_and_date {
        top: 3.8rem;
        transform: translateX(0rem); /*Main width is 100%*/
        left: 2rem;
        width: calc(100% - 4rem);
    }
}