/*Main*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*PDF*/
#main_pdf {
    width: 100%;
    min-height: 35rem;
    height: 75vh;
    max-height: 100rem;
    border: none;
}
#pdf_utgava_number {
    height: 1.5rem;
    text-align: center;
    margin: 1rem 0;
    font-family: monospace;
}
#pdf_nav_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pdf_nav_buttons {
    background-color: var(--bg-color);
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12.9rem; /*3.4rem + 1rem + 3rem + 1.5rem + 4rem = 12.9rem*/
    border: var(--darker-bg-color) solid 2px;
    padding: 1rem;
    color: var(--secondary-color);
    cursor: pointer;
    transition: border 0.3s, color 0.3s;

}
.pdf_nav_buttons:hover {
    border: var(--darkest-bg-color) solid 2px;
    color: var(--primary-color);
}
.pdf_nav_buttons#previous {
    right: 50%;
    transform: translateX(calc((72rem / -2) - 2rem)); /*width = 72rem*/
}
@media (80rem <= width <= 120rem) { 
    .pdf_nav_buttons#previous {
        transform: translateX(calc((47rem / -2) - 2rem)); /*width = 47rem*/
    }
}
@media (52rem <= width < 80rem) {
    .pdf_nav_buttons#previous {
        transform: translateX(calc((37rem / -2) - 2rem)); /*width = 37rem*/
    }
}
@media (width < 52rem) {
    .pdf_nav_buttons#previous {
        transform: translateX(0); /*Main width is 100%*/
        position: static;
    }
}
.pdf_nav_buttons#next {
    left: 50%;
    transform: translateX(calc((72rem / 2) + 2rem)) rotate(180deg); /*width = 72rem*/
}
@media (80rem <= width <= 120rem) { 
    .pdf_nav_buttons#next {
        transform: translateX(calc((47rem / 2) + 2rem)) rotate(180deg); /*width = 47rem*/
    }
}
@media (52rem <= width < 80rem) {
    .pdf_nav_buttons#next {
        transform: translateX(calc((37rem / 2) + 2rem)) rotate(180deg); /*width = 37rem*/
    }
}
@media (width < 52rem) {
    .pdf_nav_buttons#next {
        transform: translateX(0) rotate(180deg); /*Main width is 100%*/
        position: static;
    }
}
#pdf_nav_switch_render {
    background-color: transparent;
    text-align: center;
    border: none;
    color: var(--lighter-text-color);
    text-decoration: none;
    transition: color 0.3s;
    height: 1.5rem;
    margin: auto;
}
@media (23rem > width) {
    #pdf_nav_switch_render {
        display: none;
    }
}
#pdf_nav_switch_render:hover {
    color: var(--secondary-color);
}
#pdf_nav_switch_render p {
    font-size: 1.4rem;
}

/*Image rendered PDF*/
#pdf_img_container {
    width: 100%;
    height: fit-content;
}
.pdf_page {
    width: 100%;
    height: auto;
    max-height: none;
    object-fit: contain;
    padding-bottom: 0.5rem;
}

/*Text styling*/
#pdf_loading_text {
    width: 100%;
    text-align: center;
    margin: 5rem 0;
    display: none;
}
.main_content_footnote {
    font-size: 1rem;
    margin-top: 0.3rem;
    text-align: center;
}