/* Content in main */
.top_text {
    font-size: 3rem;
}

.topic-catagorys {
    font-size: 2rem;
    margin-top: 2rem;
}
.whole-article-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

p.output {
    background-color: white;
    padding: 1rem;
}

/* Form */
input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
textarea {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}