/* Header */
header {
    z-index: 10;
    width: 100%;
    top: 0;
    background-color: var(--primary-color);
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header p {
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: hsl(0, 0%, 100%, 90%);
}

#header_titel_image {
    width: 12rem;
    padding: 0.5rem;
}
@media (width <= 13rem) {
    #header_titel_image {
        width: calc(100% - 1rem);
    }
}

header p {
    width: 33%;
    text-align: center;
}

/* Content in main */
.article {
    background-color: transparent;
    padding: 1rem;
    cursor: pointer;
    display: block;
    margin-bottom: 3rem;
    border: var(--darker-bg-color) solid 2px;
    transition: 0.3s;
}
.article:hover {
    border: var(--darkest-bg-color) solid 2px;
}