* {
    scroll-margin-top: 30vh; /*Centers it when getting there from another url via # */
}

/* Content in main */
.kontakt_card {
    display: flex;
    border: var(--darkest-bg-color) solid 2px;
}
.kontakt_card:hover {
    background-color: var(--darker-bg-color);
    transform: translate(-0.2rem, -0.2rem);
    box-shadow: var(--darkest-bg-color) 0.2rem 0.2rem 0.8rem;
}
.kontakt_card:target {
    animation: articleSelected 0.8s ease-in-out 0.1s 2;
}
.kontakt_card.highlight {
    background-color: var(--dark-bg-color);
    border: var(--secondary-color) solid 2px;
}
.kontakt_card.highlight:hover {
    background-color: var(--darker-bg-color);
    border: var(--primary-color) solid 2px;
    transform: translate(-0.2rem, -0.2rem);
    box-shadow: var(--darkest-bg-color) 0.2rem 0.2rem 0.8rem;
}
.kontakt_card img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border-radius: red solid 2px;
}
.kontakt_card h2 {
    font-size: 1.5rem;
    margin: auto auto auto 1rem;
}

@keyframes articleSelected {
    0% {
        background-color: var(--bg-color);
        border: var(--darkest-bg-color) solid 2px;
        transform: translate(0, 0);
        box-shadow: none;
    }

    50% {
        background-color: var(--darker-bg-color);
        border: var(--primary-color) solid 2px;
        transform: translate(0, -0.2rem);
        box-shadow: var(--darkest-bg-color) 0.2rem 0.2rem 0.8rem;
    }
    
    100% {
        background-color: var(--bg-color);
        border: var(--darkest-bg-color) solid 2px;
        transform: translate(0, 0);
        box-shadow: none;
    }
}