/* Content in main */
.nav_card {
    height: 2rem;
    display: flex;
    align-items: center;
    border: var(--darkest-bg-color) solid 2px;
}
.nav_card:hover {
    background-color: var(--darker-bg-color);
    transform: translate(-0.2rem, -0.2rem);
    box-shadow: var(--darkest-bg-color) 0.2rem 0.2rem 0.8rem;
}
.nav_card.highlight {
    background-color: var(--dark-bg-color);
    border: var(--secondary-color) solid 2px;
}
.nav_card.highlight:hover {
    background-color: var(--darker-bg-color);
    border: var(--primary-color) solid 2px;
    transform: translate(-0.2rem, -0.2rem);
    box-shadow: var(--darkest-bg-color) 0.2rem 0.2rem 0.8rem;
}
.nav_card img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
.nav_card h2 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}