/* Base */
:root {
    --bg-color: #fbf6f3;
    --dark-bg-color: #f3efec;
    --darker-bg-color: #ece8e4;
    --darkest-bg-color: #d3cecc;
    --text-color: #130c09;
    --primary-color: #EE7322;
    --secondary-color: #da8852;
    --highlight-color: yellow;
}
* {
    margin: 0;
}
body {
    background-color: var(--bg-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text-color);
    overflow-wrap: anywhere;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Dropdown */
#dropdown {
    background-color: transparent;
    z-index: 11;
    height: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    width: fit-content;
    font-size: 2rem;
    padding: 0.5rem 1rem 1.5rem 1rem;
    transition: 0.3s;
    border: none;
    position: fixed;
    cursor: default;
    top: 0;
    right: 0.5rem;
}
#dropdown_button_container {
    background-color: var(--dark-bg-color);
    border: var(--darkest-bg-color) solid 2px;
    display: none;
    position: fixed;
    padding: 1rem;
    top: 4rem;
    right: 0.5rem;
    min-width: 5rem;
    direction: rtl;
    flex-direction: column;
}
#dropdown:hover #dropdown_button_container {
    display: flex;
}
#dropdown_button_container:hover {
    display: flex;
}
.dropdown_button {
    padding: 0.5rem;
    color: var(--text-color);
    text-decoration: none;
    border-right: transparent solid 2px;
    transition: 0.3s;
}
.dropdown_button:hover {
    border-right: var(--primary-color) solid 2px;
}
@media (height < 30rem) {
    .header_button {
        font-size: 1.4rem;
    }
}
@media (height < 23rem) {
    #header_button_container {
        flex-direction: row;
    }
}

/* Header */
header {
    z-index: 10;
    width: 100%;
    height: 3.4rem;
    top: 0;
    background-color: var(--primary-color);
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header img {
    cursor: pointer;
}
header p {
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: hsl(0, 0%, 100%, 90%);
    cursor: default;
    width: 33%;
    text-align: center;
}
@media (width <= 52rem) {
    header p {
        display: none;
    }
}
#header_titel_image {
    width: 12rem;
    padding: 0.5rem;
}
@media (width <= 13rem) {
    #header_titel_image {
        width: calc(100% - 1rem);
    }
}

/* Main */
main {
    margin: 0 auto 0 auto;
    padding: 3rem;
    width: calc(80rem - 8rem);
    min-height: calc(100vh - 3.4rem - 4rem - 2rem);
    height: fit-content;
    /*
    border-left: var(--darker-bg-color) solid 2px;
    border-right: var(--darker-bg-color) solid 2px;
    */
}
@media (80rem <= width <= 120rem) {
    main {
        width: calc(55rem - 8rem);
    }
}
@media (45rem <= width < 80rem) {
    main {
        width: calc(45rem - 8rem);
    }
}
@media (width < 45rem) {
    main {
        width: calc(100% - 4rem);
        padding: 2rem;
    }
}

main img {
    width: 100%;
    max-height: 22rem;
    object-fit: cover;
    aspect-ratio: attr(width) / attr(height); /*To make sure frame exists*/
}
@media (width > 120rem) {
    main img {
        max-height: 38rem;
    }
}
@media (width < 35rem) {
    main img {
        max-height: 12rem;
    }
}
main h2 {
    font-size: 2.2rem;
}
@media (width < 35rem) {
    main h2 {
        font-size: 1.8rem;
    }
}
main p {
    font-size: 1.2rem;
}
main li {
    font-size: 1.2rem;
}
.redacted_text {
    background-color: black;
    color: black;
}

/* Content in main */
.article {
    background-color: var(--bg-color);
    position: relative;
    padding: 1rem;
    display: block;
    margin-bottom: 2.5rem;
    color: var(--text-color);
    text-decoration: none;
    border: var(--darker-bg-color) solid 2px;
    transition: 0.3s;
}
.article:not(:has(~ .article)) { /* Gör så bara sista .article har margin-bottom = 0 */
    margin-bottom: 0;
}

.extra_info {
    background-color: var(--dark-bg-color);
    border: var(--secondary-color) solid 2px;
    width: 12.5rem;
    position: absolute;
    top: 6.4rem;
    left: 50%;
    right: 50%;
    transform: translateX(38rem);
    transition: none;
    text-align: center;
}
@media (80rem <= width <= 120rem) { 
    .extra_info {
        transform: translateX(25.5rem);
    }
}
@media (width < 85rem) {
    .extra_info {
        position: static;
        transform: translateX(0);
        width: calc(100% - 2rem);
    }
}
.extra_info.attention {
    box-shadow: var(--highlight-color) 0 0 0.5rem;
    margin-bottom: 1rem;
}
a.extra_info.user_prompt:hover {
    border: var(--primary-color) solid 2px;
}

/*Text styling*/
.top_text {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

/* Footer */
footer {
    min-width: 100%;
    min-height: 4rem;
    height: fit-content;
    position: absolute;
    background-color: var(--dark-bg-color);
    border-top: var(--darkest-bg-color) solid 2px;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}
@media (width < 50rem) {
    footer {
        flex-direction: column;
    }
}
@media (width < 25rem) {
    footer {
        white-space: normal;
    }
}

.footer_text {
    padding: 0.7em;
}