<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow"> <!--Make sure articles do not show up in search-->
    <meta name="description" content="[+description+]">
    <meta property="og:description" content="[+description+]">
    <meta property="og:image" content="[+thumb_image_url+]">

    <meta property="og:type" content="article">
    <meta property="article:published_time" content="[+upplaga_date_ISO_8601+]T09:00:00+01:00">
    <meta property="article:author" content="[+article_author_basic+]">
    <meta property="article:section" content="[+article_type_basic+]">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:url" content="[+url+]">
    <meta property="og:title" content="Östra Löken | [+title_basic+]">
    <title>[+title+] | Östra Löken</title>

    <link rel="stylesheet" href="../universal.css">
    <link rel="stylesheet" href="./000_article_universal.css">
    <link rel="icon" type="image/x-icon" href="../images/meta/lök_bild_cirkel.ico">
</head>
<body>
    <header>
        <p><b>Hotfullt nära verkligheten</b></p>
        <a href="../"><img id="header_titel_image" alt="Östra Löken logo" src="../images/logo/östra_löken_i_östra_format_rak_vit_text.webp"></a>
        <p><b id="header_date"></b></p> <!-- Example: Söndag 29 mars -->
    </header>
    <div id="dropdown">
        <p id="dotdotdot">•••</p>
        <nav id="dropdown_button_container">
            <a href="../" class="dropdown_button">Hem</a>
            <a href="../pdfer/" class="dropdown_button">PDF:er</a>
            <a href="../notiser/" class="dropdown_button">Notiser</a>
            <a href="../hear_me_outs/" class="dropdown_button">Hear me out:s</a>
            <a href="../nav/" class="dropdown_button">Länk nav</a>
            <a href="../omoss/" class="dropdown_button">Om oss</a>
            <a href="../kontakt/" class="dropdown_button">Kontaktinfo</a>
        </nav>
    </div>

    <main>
        <a id="return" href="[+home_url+]">
            <p>⟵</p>
        </a>

        <div id="upplaga_and_date">
            <a href="https://ostraloken.se/pdfer/?upplaga=[+upplaga_number+]"><p>Upplaga [+upplaga_number+]</p></a>
            <p>[+upplaga_date+]</p>
        </div>

        [+article+]

        [+h3_text_to_intorduce_section+] <!--This is generated so that it can be removed in case read_also is empty-->
        <div id="read_also">
            [+extra_article_link_1+]
            [+extra_article_link_2+]
            [+extra_article_link_3+]
        </div>

    </main>
    
    <footer id="footer">
        <div class="footer_text">
            <p>Östra Lökens Policy:</p>
            <a href="https://ostraloken.se/omoss/#Östra_Lökens_policy">
                <br>Alla elevers namn är påhittade. <br>
                Östra Löken siktar på att slå <br>
                uppåt med satiren, inte neråt. <br>
                Alla artiklar är skrivna av människor. <br>
                <b>Tidningen är satir.</b>
            </a>
        </div>
        <div class="footer_text" style="text-align: center;">
            <p>Östra Löken produceras av:</p>
            <p>
            <br><a href="https://ostraloken.se/kontakt/#Vilhelm_Grill">Vilhelm Grill</a> <br>
            <a href="https://ostraloken.se/kontakt/#Joar_Stange">Joar Stange</a> <br>
            <a href="https://ostraloken.se/kontakt/#John_Ericson">John Ericson</a> <br>
            <a href="https://ostraloken.se/kontakt/#Magne_Nordström">Magne Nordström</a> <br>
            <a href="https://ostraloken.se/kontakt/#Elliot_Sandström">Elliot Sandström</a>
            </p> 
        </div>
        <div class="footer_text" style="text-align: right;">
            <p>Juridiskt:</p>
            <a href="https://ostraloken.se/omoss/#Juridiskta_krav">
                <br>© Östra Löken. Allt material <br>
                ägs av Östra Löken och får inte <br>
                kopieras utan tillstånd. Tidningen <br>
                ansvarar ej för eventuella fel. <br>
                Webbsidan har inga cookies.
            </a>
        </div>
    </footer>
    
    <script src="../js/dont_animate_when_rezising.js"></script>
    <script src="../js/set_date.js"></script>
</body>
</html>