<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hej och välkommen till Östra Lökens hemsida!">
    <meta property="og:description" content="Hej och välkommen till Östra Lökens hemsida!">
    <meta property="og:image" content="https://ostraloken.se/images/meta/Östra_Löken_webbsida_cover_image.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ostraloken.se/hej/">
    <meta property="og:title" content="Östra Löken Hemsidan">
    <title>Östra Löken Hemsidan</title>
    
    <link rel="stylesheet" href="../universal.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon" href="./images/meta/lök_bild_cirkel_48.ico">
</head>
<body>
    [+header+]

    <main>
        <h1 class="top_text">Hej där, välkommen till Östra Lökens webbsida!</h1>

        <div class="nav_card_container">
            <a class="article nav_card highlight" target="_blank" href="https://forms.gle/9pViiBqyvUQM4QkMA">
                <h2>Skicka insändare</h2>
                <img src="../lank_nav/images/loken2.webp">
            </a>
            <a class="article nav_card highlight" target="_blank" href="https://forms.gle/vdshQEq62FrpFvkHA">
                <h2>Skicka <i>hear me out</i></h2>
                <img src="../lank_nav/images/loken2.webp">
            </a>
        </div>

        [+article+]

        <div class="nav_card_container">
            <a class="article nav_card" target="_blank" href="https://open.spotify.com/show/28Zu5yYdK6LARijjqPaNPf?si=d6558a31e44541d6">
                <h2>Podcast</h2>
                <img src="../lank_nav/images/redaktionen.webp">
            </a>
            <a class="article nav_card" target="_blank" href="https://östragymnasiet.ostraloken.se">
                <h2>Östragymnasiet.com</h2>
                <img src="../lank_nav/images/ostragymnasiet.webp">
            </a>
        </div>

        <nav id="redirect_button_container">
            <a href="../" class="dropdown_button">Hem</a>
            <a href="../pdfer/" class="dropdown_button">PDF:er</a>
            <a href="../notiser/" class="dropdown_button">Notiser</a>
            <a href="../hear_me_outs/" class="dropdown_button">Hear me out:s</a>
            <a href="../lank_nav/" class="dropdown_button">Länk nav</a>
            <a href="../om_oss/" class="dropdown_button">Om oss</a>
            <a href="../kontaktinfo/" class="dropdown_button">Kontaktinfo</a>
        </nav>
    </main>
    
    [+footer+]

    <script src="../js/dont_animate_when_rezising.js"></script>
    <script src="../js/set_date.js"></script>
    <script src="../index/js/mark_stared_articles.js"></script>
</body>
</html>