<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Östra Lökens hemsida med alla Lökens artiklar sammanställda! Senaste nytt: [+latest_title+]">
    <meta property="og:description" content="Östra Lökens hemsida med alla Lökens artiklar sammanställda! Senaste nytt: [+latest_title+]">
    <meta property="og:image" content="https://ostraloken.se/images/meta/Östra_Löken_webbsida_cover_image.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ostraloken.se">
    <meta property="og:title" content="Östra Löken Hemsidan">
    <title>Östra Löken Hemsidan</title>
    
    <link rel="stylesheet" href="./universal.css">
    <link rel="stylesheet" href="./index/style.css">
    <link rel="icon" type="image/x-icon" href="./images/meta/lök_bild_cirkel.ico">
</head>
<body>
    <header>
        <p><b>Hotfullt nära verkligheten</b></p>
        <a href="./"><img id="header_titel_image" alt="Östra Löken logo" src="./images/logo/östra_löken_i_östra_format_rak_vit_text.webp"></a>
        <p><b id="header_date"></b></p> <!-- Example: Söndag 29 mars -->
    </header>
    <div id="dropdown">•••
        <nav id="dropdown_button_container">
            <a href="./" class="dropdown_button">Hem</a>
            <a href="./pdfer/" class="dropdown_button">PDF:er</a>
            <a href="./notiser/" class="dropdown_button">Notiser</a>
            <a href="./hear_me_outs/" class="dropdown_button">Hear me out:s</a>
            <a href="./nav/" class="dropdown_button">Länk nav</a>
            <a href="./omoss/" class="dropdown_button">Om oss</a>
            <a href="./kontakt/" class="dropdown_button">Kontaktinfo</a>
        </nav>
    </div>

    <main>
        <h1 class="top_text">Välkomen till Östra Lökens hemsida</h1>
        
        <button id="im_feeling_lucky">
            <p>Ge mig en slumpmässig artikel</p>
        </button>

        <button id="go_up">
            <p>↑</p>
        </button>

        [+articles+]

    </main>
    
    <footer id="footer">
        <div class="footer_text">
            <p>Östra Lökens Policy:</p>
            <a href="https://ostraloken.se/omoss/#Östra_Lökens_policy">
                <br>Alla elevers namn är påhittade. <br>
                Östra Löken siktar på att slå <br>
                uppåt med satiren, inte neråt. <br>
                Alla artiklar är skrivna av människor. <br>
                <b>Tidningen är satir.</b>
            </a>
        </div>
        <div class="footer_text" style="text-align: center;">
            <p>Östra Löken produceras av:</p>
            <p>
            <br><a href="https://ostraloken.se/kontakt/#Vilhelm_Grill">Vilhelm Grill</a> <br>
            <a href="https://ostraloken.se/kontakt/#Joar_Stange">Joar Stange</a> <br>
            <a href="https://ostraloken.se/kontakt/#John_Ericson">John Ericson</a> <br>
            <a href="https://ostraloken.se/kontakt/#Magne_Nordström">Magne Nordström</a> <br>
            <a href="https://ostraloken.se/kontakt/#Elliot_Sandström">Elliot Sandström</a>
            </p> 
        </div>
        <div class="footer_text" style="text-align: right;">
            <p>Juridiskt:</p>
            <a href="https://ostraloken.se/omoss/#Juridiskta_krav">
                <br>© Östra Löken. Allt material <br>
                ägs av Östra Löken och får inte <br>
                kopieras utan tillstånd. Tidningen <br>
                ansvarar ej för eventuella fel. <br>
                Webbsidan har inga cookies.
            </a>
        </div>
    </footer>

    <script src="./js/dont_animate_when_rezising.js"></script>
    <script src="./js/set_date.js"></script>
    <script src="./js/breaking_news.js"></script>
    <script src="./js/scroll_to_top.js"></script>
    <script src="./index/js/go_to_random_article.js"></script>
</body>
</html>