<!--@( \ostraloken\ostraloken.se\webbpage\lank_nav\index.html )@-->
<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Här har du alla viktiga Östra Löken-länkar!">
    <meta property="og:description" content="Här har du alla viktiga Östra Löken-länkar!">
    <meta property="og:image" content="https://ostraloken.se/images/meta/Östra_Löken_webbsida_cover_image.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ostraloken.se/nav/">
    <meta property="og:title" content="Länk nav | Östra Löken">
    <title>Länk nav | Östra Löken</title>

    <link rel="stylesheet" href="../universal.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon" href="../images/meta/lök_bild_cirkel_48.ico">
</head>
<body>
    <div>
        [+header+]

        <main>
            <h1 class="top_text">Länk nav</h1>

            <div id="nav_card_container">
                [+nav_highlight_cards+]
                
                [+nav_normal_cards+]
            </div>
        </main>
    </div>

    [+footer+]
    
    <script src="../js/dont_animate_when_rezising.js"></script>
    <script src="../js/set_date.js"></script>
</body>
</html>