<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Information om Östra Löken och dess historia!">
    <meta property="og:description" content="Information om Östra Löken och dess historia!">
    <meta property="og:image" content="https://ostraloken.se/images/meta/Östra_Löken_webbsida_cover_image.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ostraloken.se/omoss/">
    <meta property="og:title" content="Om oss | Östra Löken">
    <title>Om oss | Östra Löken</title>

    <link rel="stylesheet" href="../universal.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon" href="../images/meta/lök_bild_cirkel.ico">
</head>
<body>
    <header>
        <p><b>Hotfullt nära verkligheten</b></p>
        <a href="../"><img id="header_titel_image" alt="Östra Löken logo" src="../images/logo/östra_löken_i_östra_format_rak_vit_text.webp"></a>
        <p><b id="header_date"></b></p> <!-- Example: Söndag 29 mars -->
    </header>
    <div id="dropdown">
        <p id="dotdotdot">•••</p>
        <nav id="dropdown_button_container">
            <a href="../" class="dropdown_button">Hem</a>
            <a href="../pdfer/" class="dropdown_button">PDF:er</a>
            <a href="../notiser/" class="dropdown_button">Notiser</a>
            <a href="../hear_me_outs/" class="dropdown_button">Hear me out:s</a>
            <a href="../nav/" class="dropdown_button">Länk nav</a>
            <a href="../omoss/" class="dropdown_button">Om oss</a>
            <a href="../kontakt/" class="dropdown_button">Kontaktinfo</a>
        </nav>
    </div>

    <main>
        <h1 class="top_text">Om oss</h1>

        <div class="article">
            <img src="./images/many_1april_upplagor.webp" alt="Många Östra Löken upplagor" width="800" height="600">
            <h2>Kort om Löken</h2>
            <p class="main_article_text">
Vi är Östra gymnasiets mest trovärdiga satirtidning som kommer ut varje måndag sedan 2025. Organisationen bedrivs helt av elevengagemang och vi har ingen direkt AI-användning. Östra Löken hör hemma på Östra gymnasiet och vi vill tillsammans med skolan skapa en bättre miljö för alla på skolan. Vi är Östra Löken – hotfullt nära verkligheten.
            </p>
        </div>
        
        <a class="article extra_info user_prompt" href="https://www.instagram.com/ostra_loken/" target="_blank">
            <h2>Lökens Instagram!</h2>
            <p>Vad håller Löken på med? Kom och kolla på vår Instagram!</p>
        </a>

        <div class="article" id="Östra_Lökens_policy">
            <h2>Östra Lökens policy</h2>
            <p class="main_article_text">
Alla elevers namn är påhittade. Östra Löken siktar på att slå uppåt med satiren, inte neråt. Alla artiklar är skrivna av människor. <b>Detta är satir.</b>
            </p>
        </div>

        <div class="article">
            <!--<img src="./images/the_rosted_onion.webp" alt="Bild från den rostade löken debatten" width="800" height="600">-->
            <h2>Vår historia</h2>
            <p class="main_article_text">
Östra Löken grundades den 6 maj 2025 av Vilhelm Grill och Joar Stange på Östra gymnasiet. Under en längre tid hade Grill haft en idé om att utveckla någon typ av skoltidning, men problemet var att det helt enkelt inte fanns mycket att skriva om i skolvärlden. Det var först när tidningsidén, under en tekniklektion, blandades med det satiriska innehållet från satirsajten "The Onion" som Östra Löken föddes.<br><br>
Efter att den första upplagan publicerats och delats ut var skaparna mycket motiverade att fortsätta projektet. Det är på grund av detta tidigt starka engagemang som det bestämdes att Löken skulle publiceras varje måndag. Under den här tiden var upplagorna utvecklade i Google Docs där artiklarnas längd avgjordes av hur mycket plats som fanns. Efter att den andra upplagan kom ut blev redaktionen, då endast Grill och Stange, inkallade till möte med då rektor Stefan Vilkman, men på grund av att Vilkman var upptagen blev mötet istället med biträdande rektor Sofia Falldén Rahim och blev den första av många möten med skolans ledning.<br><br>
Under den här tiden experimenterade Löken mycket med sitt format och hade bland annat ett korsord. Bilderna var också ofta stulna från internet utan citering eller äganderätt under den här tidsepoken. Textstorleken var också betydligt mindre, för att imitera de stora tidningarna, men det gjorde att speciellt äldre människor hade svårt att läsa tidningen. Då upplaga nr. 5 gavs ut etablerades också Lökens Instagramkonto.<br><br>
Efter sommarlovet blev upplaga nr. 6 den första som inte designades i Google Docs, utan istället i Affinity Publisher 2. På grund av detta nya designverktyg, som både erbjöd mer frihet än Google Docs, experimenteras det med sidlayouten och Löken började härmed få in insändare från elever. Det var också under den här tiden som Löken började lägga större fokus på att referera till bilderna. Under upplaga nr. 7 samarbetade Löken med Notes för att locka elever till musikorganisationen, och det här samarbetet var extremt gynnsamt för Lökens fortfarande outvecklade Instagramkonto. Samarbetet gav också en mall för framtida samarbeten.<br><br>
"Ropen skalla: Russin åt alla!" löd rubriken på upplaga nr. 9 efter att skolans russin var borta. Det skakade Östra. Det här, om inte utlöste, hällde bensin på elden, eller snarare den så kallade "russinkrisen". Elever från alla korridorer satte upp pro-russin-affischer och det fanns en upprymd känsla i luften. Enligt en anonym lärare så var det leverantörens fel att russinen var borta och hen påstod också att kökschefen hade suttit långt efter midnatt och desperat försökt hitta andra russinleverantörer. Andra källor påstår att det var den avgående rektorn Stefan Vilkman som tillsammans med skolans intendent Urban Lithner hade bestämt att spara pengar genom att dra in russinen. Denna traumatiska men enande stund satte sina spår i skolan.<br><br>
Tiden flög förbi och allting gick bra. Lökens Hear me out:s blev en stor succé, insändarna strömmade in och tidningens stab expanderade. Under den här tiden kom nobelpristagaren Fred Ramsdell på besök till skolan och fotograferades med en Löken upplaga i handen. Vid slutet av terminen avgick Vilkman storslaget och julupplagan pyntades. På Instagram sammanfattades året i en "Wrapped" som hade stort genomslag.<br><br>
Tidningen återkom efter lovet med en ny, kontroversiell, design som finslipats över de kommande upplagorna. Med den nya designen gavs Löken en tydligt egen stil som är lätt igenkännbar. Den 11 februari fyllde skolans elever upp aulan för att se den halv-satiriska debatten "Den rostade löken" som tidningen anordnade. Strax därefter var det alla hjärtans dag, och för att fira det erbjöd Löken att elever fick swisha 5 kr för att få en lök uppklistrad, med tejp, på någons skåp. Projektet mötte stor kritik från skolans ledning men fick i slutändan grönt ljus efter att lökarna gjordes oderlösa. Det var också nära inpå dessa två stora event som Löken började prata med Östras Elevkår kring att arrangera en "Lock-in", men den blev inställd av rektorn då solpaneler skulle installeras på taket under samma tid.<br><br>
Efter upplaga nr. 27 gjorde redaktören Grill den andra stora ändringen sedan tidningen lanserades då varje artikel nu uttryckligen skulle ha skribentens namn på. Innan dess hade alla upplagor signerats med alla medverkandes namn i slutet, och det fanns inget sätt att veta vem som skrev en individuell artikel. Inför 1 april skapade Löken-personal intrycket av att interna konflikter hade bubblat över genom att ladda upp en rad inlägg på Instagram som pratades om över hela skolan. Under 1 april-upplagan släpptes också alla tyglar när det kom till både artiklar och layout med, bland annat, en nära helt överstruken artikel, en artikel låst bakom en betalvägg och en artikel bestående av endast Lorem Ipsum-text.<br><br>
Den 4 maj 2026 firade Östra Löken sin födelsedag. Visserligen var det inte exakt rätt datum, men nära nog. På firandet kom många elever efter att det utlovats fika och saft och även en eller två lärare. Utlagt över det stora rummet där firandet hölls låg det utskrivet alla upplagor, reklamer och event som Löken hade gjort under året nu förbi. Grädden på moset blev att lokaltidningen Mitt i gjorde en artikel om det hela.
            </p>
        </div>

        <div class="article" id="Juridiskt">
            <h2>Juridiskt</h2>
            <p class="main_article_text">
                © Östra Löken. Allt material ägs av Östra Löken och får inte kopieras utan tillstånd. Tidningen ansvarar ej för eventuella fel. Webbsidan har inga cookies.
            </p>
        </div>

    </main>

    <footer id="footer">
        <div class="footer_text">
            <p>Östra Lökens Policy:</p>
            <a href="https://ostraloken.se/omoss/#Östra_Lökens_policy">
                <br>Alla elevers namn är påhittade. <br>
                Östra Löken siktar på att slå <br>
                uppåt med satiren, inte neråt. <br>
                Alla artiklar är skrivna av människor. <br>
                <b>Tidningen är satir.</b>
            </a>
        </div>
        <div class="footer_text" style="text-align: center;">
            <p>Östra Löken produceras av:</p>
            <p>
            <br><a href="https://ostraloken.se/kontakt/#Vilhelm_Grill">Vilhelm Grill</a> <br>
            <a href="https://ostraloken.se/kontakt/#Joar_Stange">Joar Stange</a> <br>
            <a href="https://ostraloken.se/kontakt/#John_Ericson">John Ericson</a> <br>
            <a href="https://ostraloken.se/kontakt/#Magne_Nordström">Magne Nordström</a> <br>
            <a href="https://ostraloken.se/kontakt/#Elliot_Sandström">Elliot Sandström</a>
            </p> 
        </div>
        <div class="footer_text" style="text-align: right;">
            <p>Juridiskt:</p>
            <a href="https://ostraloken.se/omoss/#Juridiskt">
                <br>© Östra Löken. Allt material <br>
                ägs av Östra Löken och får inte <br>
                kopieras utan tillstånd. Tidningen <br>
                ansvarar ej för eventuella fel. <br>
                Webbsidan har inga cookies.
            </a>
        </div>
    </footer>
    
    <script src="../js/dont_animate_when_rezising.js"></script>
    <script src="../js/set_date.js"></script>
</body>
</html>