<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Alla Östra Löken PDF:er sammanställda!">
    <meta property="og:description" content="Alla Östra Löken PDF:er sammanställda!">
    <meta property="og:image" content="https://ostraloken.se/images/meta/Östra_Löken_webbsida_cover_image.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ostraloken.se/pdfer/">
    <meta property="og:title" content="PDF:er | Östra Löken">
    <title>PDF:er | Östra Löken</title>

    <link rel="stylesheet" href="../../universal.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon" href="../../images/meta/lök_bild_cirkel_48.ico">
</head>
<body>
    [+header+]

    <main>
        <h1 class="top_text">Om krisen, kriget eller Ulf Kristersson kommer</h1>

        <iframe id="main_pdf" title="Östra Löken upplagor" src="./pdfs/Om_krisen_kriget_eller_Ulf_Kristersson_kommer.pdf"></iframe>
    </main>

    [+footer+]
    
    <script src="../../js/dont_animate_when_rezising.js"></script>
    <script src="../../js/set_date.js"></script>
</body>
</html>