<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Alla Östra Löken hear me out:s sammanställda!">
    <title>Hear me out:s | Östra Löken</title>
    <link rel="stylesheet" href="../universal.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon" href="../images/icons/lök_bild_cirkel.ico">
</head>
<body>
    <header>
        <p><b>Hotfullt nära verkligheten</b></p>
        <a href="../"><img id="header_titel_image" alt="Östra Löken logo" src="../images/logo/östra_löken_i_östra_format_rak_vit_text.webp"></a>
        <p><b id="header_date"></b></p> <!-- Example: Söndag 29 mars -->
    </header>
    <div id="dropdown">•••
        <nav id="dropdown_button_container">
            <a href="../" class="dropdown_button">Hem</a>
            <a href="../pdfer/" class="dropdown_button">PDF:er</a>
            <a href="../notiser/" class="dropdown_button">Notiser</a>
            <a href="./" class="dropdown_button">Hear me out:s</a>
            <a href="../nav/" class="dropdown_button">Länk nav</a>
            <a href="../omoss/" class="dropdown_button">Om oss</a>
            <a href="../kontakt/" class="dropdown_button">Kontaktinfo</a>
        </nav>
    </div>
    <main>
        <h1 class="top_text">Hear me out:s</h1>

        <button id="go_up">
            <p>↑</p>
        </button>

        <a class="article extra_info user_prompt" href="https://forms.gle/aWmLxWjc9uHybLzs9" target="_blank">
            <h2>Skicka in en <i>hear me out</i>!</h2>
            <p>Har du någon idé på en bra <i>hear me out</i>? Bara klicka här och skicka in den helt anonymt!</p>
        </a>

        <!-- [+hear_me_outs+] -->

    </main>
    <footer id="footer">
        <div class="footer_text">
            <p>Östra Lökens Policy:</p>
            <p>
                <br>Alla elevers namn är påhittade. <br>
                Östra Löken siktar på att slå <br>
                uppåt med satiren, inte neråt. <br>
                Alla artiklar är skrivna av människor. <br>
                Tidningen är satir. <br>
            </p>
        </div>
        <div class="footer_text" style="text-align: center;">
            <p>Östra Löken produceras av:</p>
            <p>
            <br>Vilhelm Grill <br>
            Joar Stange <br>
            John Ericson <br>
            Magne Nordström <br>
            Elliot Sandström
            </p> 
        </div>
        <div class="footer_text" style="text-align: right;">
            <p>Nå oss på:</p>
            <p>
                <br>Instagram: ostra_loken <br>
                Email: ostraloken@gmail.com <br>
                Linktree: linktr.ee/ostraloken <br>
            </p>
        </div>
    </footer>

    <script src="../js/set_date.js"></script>
    <script src="../js/scroll_to_top.js"></script>
    <script src="./js/handle_hear_me_outs.js"></script>
</body>
</html>