<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Här har du alla viktiga Östra Löken-länkar!">
    <meta property="og:description" content="Här har du alla viktiga Östra Löken-länkar!">
    <meta property="og:image" content="https://ostraloken.se/images/meta/Östra_Löken_webbsida_cover_image.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ostraloken.se/nav/">
    <meta property="og:title" content="Länk nav | Östra Löken">
    <title>Länk nav | Östra Löken</title>

    <link rel="stylesheet" href="../universal.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon" href="../images/meta/lök_bild_cirkel.ico">
</head>
<body>
    <header>
        <p><b>Hotfullt nära verkligheten</b></p>
        <a href="../"><img id="header_titel_image" alt="Östra Löken logo" src="../images/logo/östra_löken_i_östra_format_rak_vit_text.webp"></a>
        <p><b id="header_date"></b></p> <!-- Example: Söndag 29 mars -->
    </header>
    <div id="dropdown">•••
        <nav id="dropdown_button_container">
            <a href="../" class="dropdown_button">Hem</a>
            <a href="../pdfer/" class="dropdown_button">PDF:er</a>
            <a href="../notiser/" class="dropdown_button">Notiser</a>
            <a href="../hear_me_outs/" class="dropdown_button">Hear me out:s</a>
            <a href="./" class="dropdown_button">Länk nav</a>
            <a href="../omoss/" class="dropdown_button">Om oss</a>
            <a href="../kontakt/" class="dropdown_button">Kontaktinfo</a>
        </nav>
    </div>
    <main>
        <h1 class="top_text">Länk nav</h1>

        <div id="nav_card_container">
            <a class="article nav_card highlight" target="_blank" href="https://forms.gle/9pViiBqyvUQM4QkMA">
                <h2>Skicka insändare</h2>
            </a>
            <a class="article nav_card highlight" target="_blank" href="https://forms.gle/vdshQEq62FrpFvkHA">
                <h2>Skicka <i>hear me out</i></h2>
            </a>
            <a class="article nav_card highlight" target="_blank" href="https://forms.gle/tZdu2J5B14d1pxJg8">
                <h2>Skaffa skåpleverans</h2>
            </a>
            <a class="article nav_card" target="_blank" href="https://open.spotify.com/show/28Zu5yYdK6LARijjqPaNPf?si=d6558a31e44541d6">
                <h2>Östra Lökens podcast: Redaktionen</h2>
            </a>
            <a class="article nav_card" target="_blank" href="https://östragymnasiet.ostraloken.se">
                <h2>Östragymnasiet.com</h2>
            </a>
            <a class="article nav_card" target="_blank" href="https://www.instagram.com/ostra_loken">
                <h2>Instagram</h2>
            </a>
            <a class="article nav_card" target="_blank" href="https://www.tiktok.com/@ostra_loken">
                <h2>Tiktok</h2>
            </a>
            <a class="article nav_card" target="_blank" href="https://www.youtube.com/@%C3%96straL%C3%B6ken?sub_confirmation=1">
                <h2>Youtube</h2>
            </a>
            <a class="article nav_card" target="_blank" href="https://maps.app.goo.gl/nA7PduRYRjEiqyrG6">
                <h2>Maps</h2>
            </a>
        </div>
    </main>
    <footer id="footer">
        <div class="footer_text">
            <p>Östra Lökens Policy:</p>
            <p>
                <br>Alla elevers namn är påhittade. <br>
                Östra Löken siktar på att slå <br>
                uppåt med satiren, inte neråt. <br>
                Alla artiklar är skrivna av människor. <br>
                Tidningen är satir. <br>
            </p>
        </div>
        <div class="footer_text" style="text-align: center;">
            <p>Östra Löken produceras av:</p>
            <p>
            <br>Vilhelm Grill <br>
            Joar Stange <br>
            John Ericson <br>
            Magne Nordström <br>
            Elliot Sandström
            </p> 
        </div>
        <div class="footer_text" style="text-align: right;">
            <p>Nå oss på:</p>
            <p>
                <br>Instagram: ostra_loken <br>
                Email: ostraloken@gmail.com <br>
                Linktree: linktr.ee/ostraloken <br>
            </p>
        </div>
    </footer>
    
    <script src="../js/dont_animate_when_rezising.js"></script>
    <script src="../js/set_date.js"></script>
</body>
</html>