/* Base */
:root {
    --bg-color: #fbf6f3;
    --darker-bg-color: #ece8e4;
    --darkest-bg-color: #d3cecc;
    --text-color: #130c09;
    --primary-color: #EE7322;
    --accent-color: #da8852;
    --highlight-color: yellow;
}
* {
    margin: 0;
}
body {
    background-color: var(--bg-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text-color);
    overflow-wrap: anywhere;
}

/* Header */
header {
    z-index: 10;
    width: 100%;
    height: 3.4rem;
    top: 0;
    background-color: var(--primary-color);
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img {
    cursor: pointer;
}
header p {
    font-size: 2.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    width: fit-content;
    text-align: center;
    padding: 0.5rem 0 0 0.5rem;
}
@media (width <= 50rem) {
    header p {
        display: none;
    }
}

#header_titel_image {
    width: 12rem;
    padding: 0.5rem;
}
@media (width <= 13rem) {
    #header_titel_image {
        width: calc(100% - 1rem);
    }
}

/* Main */
main {
    margin: 0 auto 0 auto;
    padding: 3rem;
    width: calc(80rem - 8rem);
    min-height: calc(100vh - 3.4rem - 4rem);
    height: fit-content;
    /*
    border-left: var(--darker-bg-color) solid 2px;
    border-right: var(--darker-bg-color) solid 2px;
    */
}
@media (80rem <= width <= 120rem) {
    main {
        width: calc(55rem - 8rem);
    }
}
@media (45rem <= width < 80rem) {
    main {
        width: calc(45rem - 8rem);
    }
}
@media (width < 45rem) {
    main {
        width: calc(100% - 4rem);
        padding: 2rem;
    }
}

main img {
    width: 100%;
    max-height: 22rem;
    object-fit: cover;
}
main h2 {
    font-size: 2.2rem;
}
@media (width < 35rem) {
    main h2 {
        font-size: 1.8rem;
    }
}
main p {
    font-size: 1.2rem;
}
main li {
    font-size: 1.2rem;
}

main label {
    font-size: 1.2rem;
}
main input {
    background-color: transparent;
    width: 100%;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    border: var(--darkest-bg-color) 1.5px solid;
}
main textarea {
    background-color: transparent;
    width: 100%;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    border: var(--darkest-bg-color) 1.5px solid;
    resize: none;
}

/* Content in main */
.article {
    background-color: transparent;
    position: relative;
    padding: 1rem;
    display: block;
    margin-bottom: 3rem;
    color: var(--text-color);
    text-decoration: none;
    border: var(--darker-bg-color) solid 2px;
    transition: 0.3s;
}
.article h2 {
    margin-bottom: 1rem;
}

#add_button_container {
    display: flex;
    justify-content: space-between;
}
#add_button_container button {
    border: var(--accent-color) solid 2px;
    background-color: transparent;
    margin: 1rem 0 1rem 0;
    width: 30%;
    height: 4rem;
    font-size: 1.2rem;
}
#add_button_container button:hover {
    border: var(--primary-color) solid 2px;
}

/* Footer */
footer {
    min-width: 100%;
    min-height: 4rem;
    height: fit-content;
    position: absolute;
    background-color: var(--darker-bg-color);
    border-top: var(--darkest-bg-color) solid 2px;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}
@media (width < 50rem) {
    footer {
        flex-direction: column;
    }
}
@media (width < 25rem) {
    footer {
        white-space: normal;
    }
}

.footer_text {
    padding: 0.7em;
    text-align: center;
    width: 100%;
}