/* Content in main */
.kontakt_card {
    display: flex;
}
.kontakt_card:hover {
    border: var(--darkest-bg-color) solid 2px;
}
.kontakt_card.highlight {
    background-color: var(--dark-bg-color);
    border: var(--secondary-color) solid 2px;
}
.kontakt_card.highlight:hover {
    border: var(--primary-color) solid 2px;
}
.kontakt_card img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border-radius: red solid 2px;
}
.kontakt_card h2 {
    font-size: 1.5rem;
    margin: auto auto auto 1rem;
}