/* Base */
:root { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    --bg-color: #fbf6f3; /*for the background*/
    --dark-bg-color: #f3efec; /*for things with a clearly differant background than --bg-color*/
    --darker-bg-color: #ece8e4; /*for outline before hover*/
    --darkest-bg-color: #d3cecc; /*for outlines and for hover outline*/
    --text-color: #130c09; /*for text*/
    --lighter-text-color: #aba29e; /*for less inportant text*/
    --header-text-color: #f8f4f2;
    --primary-color: #EE7322; /*for header and hover*/
    --secondary-color: #da8852; /*for orange color before hover*/
    --highlight-color: yellow; /*for the article type*/
}
* { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    margin: 0;
}
body { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    background-color: var(--bg-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text-color);
    overflow-wrap: anywhere;
}

/* Hide scrollbar */
::-webkit-scrollbar { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    display: none;
}


/* Header */
header { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    background-color: var(--primary-color);
    position: sticky;
    z-index: 10;
    width: 100%;
    height: 3.4rem;
    top: 0;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (width <= 21rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    header { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        justify-content: space-around;
    }
}
@media (width < 21rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    header { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        position: static;
    }
}
header p { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--header-text-color);
    cursor: default;
    width: 33%;
    text-align: center;
}
@media (width <= 56rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    header p { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        font-size: 1rem;
    }
}
@media (width <= 50rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    header p { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        display: none;
    }
}
#header_titel_image { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    cursor: pointer;
    width: 12rem;
    padding: 0.4rem;
}
@media (width <= 13rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    #header_titel_image { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        width: calc(100% - 1rem);
    }
}

/* Header action buttons */
.header_action { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    box-sizing: border-box;
    background-color: transparent;
    color: var(--header-text-color);
    width: 3.1rem;
    height: 3.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: default;
    margin: 0 1rem;
}

/* Search */
header #search { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    cursor: pointer;
}
@media (width <= 21rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    header #search { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        display: none;
    }
}

/* Dropdown */
#dropdown { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}
@media (width < 21rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    #dropdown { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        position: fixed;
        z-index: 11;
        top: 0;
        right: 0.5rem;
    }
}
#dotdotdot { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (width < 21rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    #dotdotdot { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        color: var(--text-color);
    }
}
#dropdown_transition_item { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0.5rem;
    width: 4.1rem;
    height: 4rem;
}
#dropdown_button_container { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    background-color: var(--dark-bg-color);
    border: var(--darkest-bg-color) solid 2px;
    position: fixed;
    top: 4rem;
    right: 0.6rem;
    padding: 1rem;
    min-width: 5rem;
    direction: rtl;
    flex-direction: column;
    
    display: none;
}
#dropdown:hover #dropdown_button_container, #dropdown_button_container:hover { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    display: flex;
}
#dropdown:focus #dropdown_button_container { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    display: flex;
}
@media (height < 30rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    #dropdown_button_container { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        overflow-y: scroll;
        width: calc(100% - 3rem);
        height: calc(100% - 6.5rem);
        grid-template-rows: repeat(3, minmax(0, 1fr));
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-items: center;
        align-items: center;
        font-size: 4.5vw;
        text-align: center;
    }
    #dropdown:hover #dropdown_button_container, #dropdown_button_container:hover { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        display: grid;
    }
    #dropdown:focus #dropdown_button_container { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        display: grid;
    }
}
.dropdown_button { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    padding: 0.5rem;
    color: var(--text-color);
    text-decoration: none;
    text-align: start;
    border-right: transparent solid 2px;
    transition: border 0.3s;
}
@media (height < 26rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    .dropdown_button { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        width: fit-content;
    }
}
.dropdown_button:hover { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    border-right: var(--primary-color) solid 2px;
}
@media (height < 30rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    .header_button { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        font-size: 1.4rem;
    }
}
@media (height < 23rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    #header_button_container { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        flex-direction: row;
    }
}

/* Breaking news */
#breaking { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    width: 100%;
    height: 2rem;
    background-color: red;
}

/* Main */
main { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    margin: 0 auto 0 auto;
    padding: 3rem;
    padding-top: 1rem;
    width: calc(80rem - 8rem);
    min-height: calc(100vh - 3.4rem - 4rem);
    height: fit-content;
    /*
    border-left: var(--darker-bg-color) solid 2px;
    border-right: var(--darker-bg-color) solid 2px;
    */
}
@media (80rem <= width <= 120rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    main { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        width: calc(55rem - 8rem);
    }
}
@media (45rem <= width < 80rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    main { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        width: calc(45rem - 8rem);
    }
}
@media (width < 45rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    main { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        width: calc(100% - 4rem);
        padding: 2rem;
    }
}

main img { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    width: 100%;
    max-height: 22rem;
    object-fit: cover;
    aspect-ratio: attr(width) / attr(height); /*To make sure frame exists*/
}
@media (width > 120rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    main img { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        max-height: 38rem;
    }
}
@media (width < 35rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    main img { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        max-height: 12rem;
    }
}

/* Text styling */
h1.top_text { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    width: 100%;
    height: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}
main .article h1 { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/ /* Same as h2 in but for articles */
    font-size: 2.2rem;
}
@media (width < 35rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    main .article h1 { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        font-size: 1.8rem;
    }
}
main h2 { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    font-size: 2.2rem;
}
@media (width < 35rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    main h2 { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        font-size: 1.8rem;
    }
}
main p { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    font-size: 1.2rem;
}
main li { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    font-size: 1.2rem;
}
.redacted_text { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    background-color: black;
    color: black;
}

/* Content in main */
.article { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    background-color: var(--bg-color);
    position: relative;
    padding: 1rem;
    display: block;
    margin-bottom: 2.5rem;
    color: var(--text-color);
    text-decoration: none;
    border: var(--darker-bg-color) solid 2px;
    transition: 0.3s;
}
.article:not(:has(~ .article)) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/ /* Gör så bara sista .article har margin-bottom = 0 */
    margin-bottom: 0;
}

.extra_info { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    background-color: var(--dark-bg-color);
    border: var(--secondary-color) solid 2px;
    width: 12.5rem;
    position: absolute;
    top: 7.9rem;
    left: calc(50%);
    transform: translateX(calc((72rem / 2) + 2rem)); /*width = 72rem*/
    transition: none;
    text-align: center;
}
@media (83rem <= width <= 120rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/ 
    .extra_info { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        transform: translateX(calc((47rem / 2) + 2rem)); /*width = 47rem*/
    }
}
@media (width < 83rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    .extra_info { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        position: static;
        transform: translateX(0);
        width: calc(100% - 2rem);
    }
}
.extra_info.attention { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    box-shadow: var(--highlight-color) 0 0 0.5rem;
    margin-bottom: 1rem;
}
a.extra_info.user_prompt { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    transition: 0.3s;
}
a.extra_info.user_prompt:hover { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    background-color: var(--darker-bg-color);
    border: var(--primary-color) solid 2px;
    transform: translate(calc((72rem / 2) + 2rem - 0.2rem), -0.2rem); /*width = 72rem*/
    box-shadow: var(--darkest-bg-color) 0.2rem 0.2rem 0.8rem;
}
@media (83rem <= width <= 120rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/ 
    a.extra_info.user_prompt:hover { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        transform: translate(calc((47rem / 2) + 2rem - 0.2rem), -0.2rem); /*width = 47rem*/
    }
}
@media (width < 83rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    a.extra_info.user_prompt:hover { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        transform: translate(-0.2rem, -0.2rem);
    }
}

/* Up button */
#go_up { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    background-color: var(--bg-color);
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    z-index: 2;
    cursor: pointer;
    border: var(--darker-bg-color) solid 2px;
    padding: 1rem;
    color: var(--secondary-color);
    transition: border 0.3s, color 0.3s, opacity 0.3s, visibility 0.3s;

    /*Starting as this, changed later by JS. Therefor the #go_up.show class*/
    opacity: 0%;
    pointer-events: none;
    visibility: hidden;
}
#go_up:hover { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    border: var(--darkest-bg-color) solid 2px;
    color: var(--primary-color);
}
@media (width < 55rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*//*Main width is 100%*/
    #go_up { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        right: 1rem;
    }
}
@media (width < 45rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*//*Main width is 100%*/
    #go_up { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        bottom: 1rem;
    }
}
#go_up.show { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    opacity: 100%;
    pointer-events: auto;
    visibility: visible;
}

/* Footer */
footer { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    min-width: 100%;
    min-height: 4rem;
    height: fit-content;
    position: absolute;
    background-color: var(--dark-bg-color);
    border-top: var(--darkest-bg-color) solid 2px;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}
@media (width < 50rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    footer { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        flex-direction: column;
    }
}
@media (width < 25rem) { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    footer { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
        white-space: normal;
    }
}

.footer_text { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    padding: 0.7em;
}
.footer_text a { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}
.footer_text a:hover { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
    color: var(--primary-color);
}

/* Animation stopper */
.resize_animation_stopper * { /*ATTENTION: YOU ARE RIGHT NOW IN A GENERATED FILE!*/
  transition: none !important;
  animation: none !important;
}